@font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
    background: #252525;
    font-family: Montserrat;
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 140px;
   margin: 0px;
    align-items: center;
}

#zappi-logo {
width: 76px;
height: 79px;
left: 65px;
top: 31px;
translate: 65px;
}

#home-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 14.5px;
    width: 19px;
    height: 20px ;
    translate: 1181.5px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
}

#cart-icon {
    display: flex;
    flex-direction: row;
    translate: 1323px;
    width: 28px;
    height: 26px;   
}

#cart-circle {
    display: flex;
    align-items: center;
    justify-content: center;
width: 13px;
height: 13px;
background: #FF4B4B;
border: 1px solid #FFFFFF;
border-radius: 13px;
position: absolute;
translate: 15px -5.49px; 
font-weight: 400;
font-size: 9px;
text-align: center;
color: #FFFFFF;
}

#profile-icon {
    width: 15.99px;
    height: 20px;
    translate: 1403px;
}

.tittle-container {
    overflow: ;
    width: 639px;
    height: 287px;
    translate: 133px;
}

h1 {
width: 603px;
height: 36px;
left: 133px;
top: 178px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 66px;
line-height: 86px;
color: #FFFFFF;
}

#h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 51px;
    line-height: 67px;
    color: #FFFFFF;
    height: 64.5px;;
    margin-bottom: 0px;
}

#h3 {
    font-weight: 400;
    font-size: 21px;
    line-height: 56px;
    color: #FFFFFF;
    height: 64.5px;
}
#ver-mas {
 width: 166px;
height: 50px;
left: 133px;
top: 415px;
background: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);
box-shadow: 11px 28px 50px rgba(20, 78, 90, 0.2);
border-radius: 15px;
color: #FFFFFF;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
text-align: center;
letter-spacing: 0.5px;
border: 0;
transition: 0.3s ease-out;
}

#ver-mas:hover {
    transform: scale(0.9);
    transition: 0.3s ease-in-out;
}

.tittle-pizza-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    margin: 0;

}

.pizza-container {
translate: 348px;
}

#image34 {
width: 265px;
height: 265px;
translate: 0px  -13px;
}

#pizza1 {
width: 392px;
height: 392px;
translate: -139px;
}

.recommended {

}

#recommended-tittle {
 width: 278px;
height: 23px;
translate: 120px;
margin-top: 71px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 29px;
color: #FFFFFF;
}

.recommended-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 1117px;
    height: 104px;
    translate: 197px;
    margin-top: 30px;
}

.recommended-card {
 width: 347px;
height: 103px;
background: #252525;
box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
border-radius: 15px;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
transition: 0.3s ease-out;
}

.recommended-card:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.tittle-recommended-card {
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
color: #FFFFFF;
margin: 0px;
}

.description-container {
    height: 70px;
    width: 135px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0px;
    gap: 10px;
}

.description-recommended-card{
height: 17px;
width: 135px;
font-style: normal;
font-weight: 400;
font-size: 14px;
/* identical to box height */
letter-spacing: 0.5px;
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.3;
margin: 0px;;
}

.price-recommended-card {
 height: 25px;
font-style: normal;
font-weight: 700;
font-size: 19px;
line-height: 25px;
background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
margin: 0px;

}

.add-btn {
width: 85px;
height: 29px;
background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
border-radius: 17.5px;
color: #FFFFFF;
border: 0px;
transition: 0.3s ease-out;
}

.add-btn:hover {
    transform: scale(0.9);
    transition: 0.3s ease-in-out;
}

.categories-tittle {
    margin-top: 84px;
    width: 87px;
    height: 20px;
translate: 120px;
font-style: normal;
font-weight: 800;
font-size: 15px;
line-height: 20px;
color: #FFFFFF;
}

.categories-card-container {
    width: 1221px;
    height: 171px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    translate: 120px;
    margin-top: 31px;
    margin-bottom: 31px;
}

.categories-card {
width: 147px;
height: 171px;
background: #4D4D4D;
box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
border-radius: 15px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
transition: 0.3s ease-out;
}

.categories-card:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.categories-card-tittle {
 width: 105px;
height: 20px;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
text-align: center;
color: #FFFFFF;
margin: 0px;
}

.categories-detail {
 width: 24px;
height: 4px;
/* linear-primary */
background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
border-radius: 15px;
}